{% extends 'admin/change_list.html' %}

{% block object-tools %}
    <div>
        <form action="fill_database_from_file/" method="POST">
            {% csrf_token %}
                <button type="submit" class="button">Wczytaj dane z pliku do bazy!</button>
        </form>
    </div>
    <br>
    <div>
        <form action="fill_file_from_database/" method="POST">
            {% csrf_token %}
                <button type="submit" class="button">Wczytaj dane z bazy do pliku CSV!</button>
        </form>
    </div>
    <br>
    {{ block.super }}
{% endblock %}
